<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout in CSS</title>
    <link rel="stylesheet" href="Layout.css">
</head>
<body>
    <h2>Border , Background , Height , Width</h2>
    <div id="pro">
        Product
    </div>
    <br>
    <div class="product">
        1st Product
    </div>
    <br>
    <div class="product">
        2nd Product
    </div>
    <br>
    <div id="product3">
        3rd Product
    </div>
</body>
</html>