.top-section{
    border: 1px solid crimson;
    /* margin: auto;
    width: 16%; */
}
img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
}
.wrap{
    border: 3px solid blueviolet;
    background-color: springgreen;
    padding: 20px;
    margin: 5px;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 1000px;
}